
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d6d8fc;
}

h2 {
  font-size: 2em;
  color: rgb(145, 18, 219);
  display: flex;
  justify-content: center;
}

.taskInput input{
  font-size: 22px;
  margin: 0 8px 4px 0;
  padding: 5px 20px;
  background-color: #d6d8fc;
  border-color: rgb(145, 18, 219);
  color: rgb(145, 18, 219);
  border-radius: 2em;
}
button{
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 4px black;
  transition: background-color 0.5s ease;
}
button:hover{
  transform: scale(1.1);
}
.addBtn{
  font-size: 24px;
  background-color: #4CAF50;
}
.addBtn:hover{
  font-size: 24px;
  background-color: #40a343;
}

.todo input[type="checkbox"] {
    appearance: none; 
    width: 25px; 
    height: 25px; 
    inset: 2px;
    border: 1px solid rgb(145, 18, 219);;
    border-radius: 3px; 
    position: relative;
    cursor: pointer; 
    margin-left: -5px;
    margin-right: 15px; 
    background-color: rgba(0, 0, 0, 0.101);
}

.todo input[type="checkbox"]:checked {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
}

.todo input[type="checkbox"]:checked::before {
    content: '👍'; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 16px; 
}

.todo-label {
  margin-right: auto; 
  font-size: 1.2em;
}

.editBtn, .deleteBtn {
  margin-left: 10px; /* Space between buttons */
}
.editBtn{
  background-color: aqua;
}
.editBtn:hover{
  background-color: rgb(137, 229, 229);
}
.deleteBtn{
  background-color: rgb(255, 0, 0);
}
.deleteBtn:hover{
  background-color: rgb(229, 137, 137);
}
.taskAdded ul li{
  font-size: 20px;
  color: rgb(66, 3, 103);
  margin: 1em 0 1em -2em;
  padding: 15px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.101);
  margin-bottom: 10px;
}
.taskAdded ul li .todo{
  display: flex;
  justify-content: space-between;
}